ArchivePipelines: Api
ArchiveFilter: => GetString("Kind") == "Namespace"
ArchiveOrderKey: DisplayName
DestinationPath: => GetPath("ApiPath").Combine("index.html")
---
@foreach (IDocument document in Model.GetChildren())
{
    <p>@Context.GetTypeLink(document)</p>
}