HideFromSearchIndex: true
Excluded: => !Context.GetBool(WebKeys.GenerateSearchIndex)
ShowInNavigation: false
---
<form>
    <div class="form-group">
        <label for="search">Search Query</label>
        <input class="form-control" type="search" aria-label="Search" id="search">
    </div>
</form>

<div id="search-results"></div>
