@* The root page of this section is passed in as the model *@

@{
    // Show the root document of the section at the top of the sidebar
    if (Model.GetBool(SiteKeys.ShowInSidebar, true))
    {
        @await Html.PartialAsync("_SidebarItem", Model)
    }

    // Now descend up to 2 levels
    foreach (IDocument document in OutputPages.GetChildrenOf(Model))
    {
        if (document.GetBool(SiteKeys.ShowInSidebar, true))
        {
            @await Html.PartialAsync("_SidebarItem", document)
        }

        @if (OutputPages.GetChildrenOf(document).Any())
        {
            <div class="sidebar-nav-children">
                @foreach (IDocument child in OutputPages.GetChildrenOf(document))
                {
                    if (child.GetBool(SiteKeys.ShowInSidebar, true))
                    {
                        @await Html.PartialAsync("_SidebarItem", child)
                    }

                    @if (OutputPages.GetChildrenOf(child).Any())
                    {
                        <div class="sidebar-nav-children">
                            @foreach (IDocument child2 in OutputPages.GetChildrenOf(child))
                            {
                                if (child2.GetBool(SiteKeys.ShowInSidebar, true))
                                {
                                    @await Html.PartialAsync("_SidebarItem", child2)
                                }
                            }
                        </div>
                    }
                }
            </div>
        }
    }
}